doctype html

html(ng-app="application")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    base(href="/")

    title foosnet.io

    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    link(rel="stylesheet" href="/css/application.css")

    script.
      var Application = {
        session: !{JSON.stringify(session)}
      };
      Object.freeze(Application);

  body(ng-cloak ng-controller="ApplicationController")
    ng-include(src="'/partials/navigation.html'")

    foosnet-sidebar

    .page(ui-view)

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
    script(src="/vendor/angular/angular.min.js")
    script(src="/vendor/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/vendor/angular-resource/angular-resource.min.js")
    script(src="/vendor/string/dist/string.min.js")

    script(src="/js/application.js")
    script(src="/js/controllers/application.js")
    script(src="/js/pages/controllers/home.js")
    script(src="/js/pages/controllers/leaderboard.js")
    script(src="/js/pages/controllers/leagues.js")
    script(src="/js/services/application.js")
    script(src="/js/services/resources/league.js")
    script(src="/js/sidebar/sidebar.js")
    script(src="/js/routes.js")
